@import url(https://fonts.googleapis.com/css?family=Poppins);
body {
  font-family: "Poppins", sans-serif;
}

.light-blue-gradient {
  background: linear-gradient(120deg, #0D57AC 0%, #0caf35 100%);
}

button.btn-green {
  background-color: #0caf35;
  border: 3px;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

button.btn-red {
  background-color: red;
  border: 3px;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a {
  color: white;
}

a:hover {
	text-decoration: none;
  color: #1b3815;
}
